*{
    -color-bg-main: white;
    -color-bg-secondary: rgba(0, 0, 0, 0.25);
    -color-bg-tertiary: rgb(240, 240, 240);
    -color-accent: rgb(255, 151, 59);
}

#actionBar{
    -fx-margin: 0;
    -fx-background-color: -color-bg-main;
    -fx-text-fill: black;
}

#sideBar{
    -fx-margin: 0;
    -fx-background-color: -color-bg-main;
    -fx-text-fill: black;
}

.btnSidebar{
    -fx-margin: 0;
    -fx-font: 16px "Myriad Pro, Sans";
    -fx-font-weight: bold;
    -fx-background-color: -color-bg-main;
    -fx-text-fill: -color-bg-secondary;
}

.btnSidebar:focused{
    -fx-text-fill: black;
    -fx-font-weight:bolder;
}

.btnSidebar:hover{
    -fx-text-fill: black;
    -fx-font-weight:bolder;
}

#mainPane{
    -fx-background-color: -color-bg-tertiary;
}

.contentPane{
    -fx-margin: 0;
    -fx-background-color: -color-bg-tertiary;
}