*{
    -color-bg-main: white;
    -color-bg-secondary: rgba(0, 0, 0, 0.25);
    -color-bg-tertiary: rgb(240, 240, 240);
    -color-accent: rgb(255, 151, 59);
}

#actionBar{
    -fx-margin: 0;
    -fx-background-color: -color-bg-main;
    -fx-text-fill: black;
}

#sideBar{
    -fx-margin: 0;
    -fx-background-color: -color-bg-main;
    -fx-text-fill: black;
}

.btnSidebar{
    -fx-margin: 0;
    -fx-font-size: 16px;
    -fx-font-family: 'Myriad Pro', sans;
    -fx-font-weight: bold;
    -fx-text-fill: -color-bg-secondary;
    -fx-background-color: -color-bg-main;
}

.btnSidebar:focused{
    -fx-text-fill: black;
    -fx-font-weight:bolder;
}

.btnSidebar:hover{
    -fx-text-fill: black;
    -fx-font-weight:bolder;
}

#mainPane{
    -fx-background-color: -color-bg-tertiary;
}

.contentPane{
    -fx-margin: 0;
    -fx-background-color: -color-bg-tertiary;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.05) , 10,0,2,2 );
}

.widget{
    -fx-padding: 5px;
    -fx-margin: 0;
    -fx-background-color: -color-bg-main;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 10,0,2,1 );
}

.widgetTitle{
    -fx-label-padding: 5px;
    -fx-font-size: 16px;
    -fx-font-family: 'Myriad Pro', sans;
    -fx-font-weight: bold;
    -fx-text-fill: -color-accent;
}

.widgetInfoText{
    -fx-label-padding: 10px;
    -fx-font-size: 36px;
    -fx-font-family: 'Myriad Pro', sans;
    -fx-font-weight: 100;
    -fx-text-fill: -color-accent;
}

.widgetInfoTextLarge{
    -fx-label-padding: 10px;
    -fx-font-size: 24px;
    -fx-font-family: 'Myriad Pro', sans;
    -fx-font-weight: 100, light;
    -fx-text-fill: black;
}


